<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ParserTesterInputSimple" value="C:\Users\xyz\Documents\Projects\rn\sampleRNIFReceiptAck.txt"/>
    <add key="ParserTesterInputComplex" value="C:\Users\xyz\Documents\Projects\rn\mime_generator.out"/>
    <add key="ParserTesterOutput" value="C:\Users\xyz\Documents\Projects\rn\"/>
    <add key="GeneratorTesterInputSimple" value="C:\Users\xyz\Documents\Projects\rn"/>
    <add key="GeneratorTesterInputComplexNodeA1" value="C:\Users\xyz\Pictures\JPEG_example_JPG_RIP_025.jpg"/>
    <add key="GeneratorTesterInputComplexNodeA2a" value="C:\Users\xyz\Documents\Projects\rn\samplePart1.xml"/>
    <add key="GeneratorTesterInputComplexNodeA2b" value="C:\Users\xyz\Documents\Projects\rn\Invoice Import - PIDX RNIF.PDF"/>
    <add key="GeneratorTesterInputComplexNodeA3" value="C:\Users\xyz\Documents\Projects\rn\samplePart2.xml"/>
    <add key="GeneratorTesterInputComplexNodeB1" value="C:\Users\xyz\Pictures\mini.jpg"/>
    <add key="GeneratorTesterInputComplexNodeB2" value="C:\Users\xyz\Documents\Projects\rn\samplePart3.xml"/>
    <add key="GeneratorTesterOutputComplex" value="C:\Users\xyz\Documents\Projects\rn\mime_generator.out"/>
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>